{{#each this}}
	<h1>{{name}}</h1>
	<div class='wrapper'>
		<div class='description'>
			<p>Capital: {{capital}}</p>
			<p>Population: {{population}}</p>
			<p>Languages:</p>
			<ul>{{#each languages}}
					<li>{{name}}</li>
				{{/each}}
			</ul>
		</div>
		<div class='flag'>
			<img src='{{flag}}' alt='{{name}}' width='200px' />
		</div>
	</div>
{{/each}}